@charset "UTF-8";

/* 回答はここに書いてね */
.q7_1a{
  float:left;
  width:205px;
  margin-left: 50px;
  font-size:16px;
}

.q7_1a:first-child{
  margin:0;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.q7_2{
  display:table;
  width:100%;
}

.q7_2a{
  padding-left: 50px;
  display:table-cell;
  vertical-align:middle;
  font-size:16px;
  width:225px;
}
.q7_2a:first-child{
  padding-left: 0;
}

.q7_3{
  display:inline-block;
  font-size:16px;
  width:205px;
  margin-left:45px;
  vertical-align: middle;
}
.q7_3:first-child{
  margin:0;
}

.q7_4{
  display: flex;
  align-items:flex-end;
  justify-content: space-around;
}

.q7_4a{
  width:205px;
}

.q7_5{
  font-size: 0;
  overflow: hidden;
}

.q7_5a{
  display:inline-block;
  width:300px;
  font-size:16px;
  vertical-align: top;
  /*margin-right: 50px;*/
}

.q7_5b{
  display:inline-block;
  margin-left: -300px;
  font-size:16px;
  width:100%;
  padding-left:350px;
  box-sizing: border-box;
}
/* 回答はここに書いてね */
