@charset "UTF-8";
.q4{
  padding:20px;
}

/* 回答はここに書いてね */
.main{
  display: table;
  width:100%;
}
.main:last-child{
  margin-top: 20px;
}

.main_content{
  display: table-cell;
  padding:20px;
  text-align: center;
}

.main_content.orange{
  background-color: #fdc8b8;
  width: 100px;
}
.main_content.pink{
  background-color: #e0abd9;
}

.main_content.skyblue{
  background-color: #b6d8ed;
  width: 100px;
}

.main_content.yellow{
  background-color: #e5d32e;
}

.main_content.red{
  background-color: #ec8f9a;
}

.main_content.green{
  background-color: #8fdcad;
  width:500px;
}
/* 回答はここに書いてね */
