@charset "UTF-8";

/* 回答はここに書いてね */
.content{
  width:100%;
  text-align:center;
  table-layout: fixed;
}

.content th{
  border:solid 1px #dedede;
  padding:10px;
  font-size:18px;
  line-height:26px;
  background-color:#2244aa;
  color:#fff;
  vertical-align: middle;
}

.content td{
  border:solid 1px #dedede;
  padding:10px;
  line-height:22px;
  vertical-align: middle;
  text-align: center;
}

.content tr:nth-child(2n){
  background-color: #ecf1f2;
}

.content > tbody > tr:last-child{
  border-top: dashed 2px #000;
}
 /*回答はここに書いてね */
