@charset "UTF-8";

/* 回答はここに書いてね */
.is_textalign{
  display:inline-block;
  width: 300px;
}
.box_inner{
  text-align: center;
}
.box_text{
  display:inline-block;
  width:90px;
  padding: 10px 0;
  background-color: #e6f2ff;
}

.is_margin{
  width: 300px;
  margin: 0 auto;
  text-align: center;
  width:90px;
  padding-top:10px;
  padding-bottom: 10px;
  background-color: #e6f2ff;
}

.is_table{
  display:table;
}

.is_box{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.is_box_text{
  display:inline-block;
  background-color:#fff;
  padding:10px;
}

.is_flex{
  display:flex;
  align-items:center;
  justify-content:center;
}

.is_flex_box{
  padding:10px;
  background-color:#fff;
}

.q6_position{
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 0 10px;
  background-color: #FFF;
  font-size: 16px;
  vertical-align: top;
}

.is_stable_box{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is_flexible_box{
  position: absolute;
  background-color: #e6f2ff;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* 回答はここに書いてね */